<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.ufes.br/inf/nemo/teep/Tptp"
			class = "br.ufes.inf.nemo.teep.tptp.TptpPackage"
			genModel = "model/generated/Tptp.genmodel" />
	</extension>
</plugin>
